*                     @clicksminuteper/owners
# By default, the leadership own all policies

/CODEOWNERS           @clicksminuteper/owners
/leadership/          @clicksminuteper/owners
# The leadership explicity own this file and all files inside the leadership directory
